.details-modal {
  position: relative;
  padding: 1.6rem;
  background-color: var(--color-white);
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: rgba(149,157,165,0.2) 0 8px 23px;

}

.details-modal-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.details-btn {
	width: 100%;
	font-size: 1rem;
	font-weight: 500;
	padding: 15px 0;
	border: none;
	border-radius: 5px;
}

.details-btn.detail-close {
    color: #fff;
	background-color: var(--color-purple);
}
