.delete-modal h1 {
    font-size: 1.3rem;
}

.delete-modal-btns {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.delete-btn {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    padding: .7rem .8rem;
	border: none;
	border-radius: 5px;
}

.delete-modal-accept-btn {
    background-color: var(--color-purple);
}
.delete-modal-reject-btn {
    background-color: var(--color-white);
	border: 2px solid var(--color-purple);
}

@keyframes show {
	0%{opacity: 0;}
	100%{opacity: 1;}
}