.products-table {
  margin-top: 3rem;
  width: 100%;
  padding: 15px;
  background-color: var(--color-white);
  border-radius: 10px;
  text-align: center;
}

.products-table td {
  text-align: center;
  vertical-align: middle;
}

.product-table-img {
  width: 85px;
  object-fit: cover;
  border-radius: 20px;
}

.product-table-btn{
    border: none;
    border-radius: 20px;
    background-color: var(--color-purple);
    color: var(--color-white);
    font-size: .8rem;
    padding:.7rem 1.2rem ;
    margin-left: 1rem;
    text-align: center;
}



/* styles childeran editModal */

.edit--product--form_grop{
  width: 100%;
  margin-top: 1rem;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: var(--color-white-50);
  border-radius: 30px;
}
.edit--product_input{
  width: 100%;
  border: none;
  outline: none;
  background-color: unset;
  font-size: .9rem;

}