@import "./reset.css";

@font-face {
  font-family: Vazir;
  src: url(./font/Vazir.ttf);
}

:root{
    --color-white: #ffff;
    --color-white-50: #F4F6FF;
    --color-purple: #6C4AB6
}

*,
body,
html {
  font-family: Vazir;
}
body{
    background-color: var(--color-white-50) !important;
}